@import "tailwindcss";




@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "MyFontRegular";
  src: url("/fonts/FKScreamerTrial-Regular-BF6571330a60d38.otf")
    format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "MyFontMedium";
  src: url("/fonts/FKScreamerTrial-Medium-BF6571330a5823d.otf")
    format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "MyFontBold";
  src: url("/fonts/FKScreamerTrial-Bold-BF6571330a76e9b.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: "ElectricKickIt";
  src: url("/fonts/electrIc kIckS Italic.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: italic;
}
@font-face {
  font-family: "ElectricKickNormal";
  src: url("/fonts/electrIc kIckS.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Hijo";
  src: url("/fonts/Hijo Puta Peligroso.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "StarTrekNormal";
  src: url("/fonts/Star Trek_future.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Akoni";
  src: url("/fonts/AKONY.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Antonellie";
  src: url("/fonts/Antonellie Callygraphy Demo.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clyra";
  src: url("/fonts/Clyra.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Argentine";
  src: url("/fonts/fonnts.com-Argentine.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gyst";
  src: url("/fonts/fonnts.com-Gyst_Variable_Light.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mustang";
  src: url("/fonts/Mustang.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Xen";
  src: url("/fonts/Xen Galaxy.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CS";
  src: url("/fonts/csgaylemono-regular-1.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cogin";
  src: url("/fonts/cogin.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PpEditItalic";
  src: url("/fonts/PPEditorialNew-Italic-BF644b214fb0c0a.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PpEditRegular";
  src: url("/fonts/PPEditorialNew-Regular-BF644b214ff145f.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PpEditUltraBold";
  src: url("/fonts/PPEditorialNew-Ultrabold-BF644b21500840c.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PpEditUltraThin";
  src: url("/fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.otf")
    format("opentype");
  font-weight: 400 !important;
  font-style: normal;
}

@font-face {
  font-family: "Stranger";
  src: url("/fonts/Stranger Things Outlined.ttf") format("opentype");
  font-weight: 700 !important;
  font-style: normal;
}

/* *{
  box-sizing: border-box;
} */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-my-font-regular: MyFontRegular, sans-serif;
  --font-my-font-medium: MyFontMedium, sans-serif;
  --font-my-font-bold: MyFontBold, sans-serif;
  --font-electric-it: ElectricKickIt, sans-serif;
  --font-electric-normal: ElectricKickNormal, sans-serif;
  --font-hijo: Hijo, sans-serif;
  --font-star: StarTrekNormal, sans-serif;
  --font-akoni: Akoni, sans-serif;
  --font-antonellie: Antonellie, sans-serif;
  --font-clyra: Clyra, sans-serif;
  --font-argentine: Argentine, sans-serif;
  --font-gyst: Gyst, sans-serif;
  --font-mustang: Mustang, sans-serif;
  --font-xen: Xen, sans-serif;
  --font-cs: CS, mono;
  --font-cogin: Cogin, sans-serif;
  --font-pp-edit-italic: PpEditItalic, sans-serif;
  --font-pp-edit-regular: PpEditRegular, sans-serif;
  --font-pp-edit-ultra-bold: PpEditUltraBold, sans-serif;
  --font-pp-edit-ultra-thin: PpEditUltraThin, sans-serif;
  --font-stranger: Stranger, sans-serif;

  --text-large: 2.25rem;

}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}



html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  --color-text: #fff;
  --color-bg: #191818;
  --color-link: #484848;
  --color-link-hover: #fff;
  --color-menu: #fff;
  --color-menu-hover: #2a2727;
  --color-deco: linear-gradient(
    90deg,
    rgb(225, 16, 250) 0%,
    rgba(128, 29, 253, 1) 50%
  );
  --font-family-menu: brother-1816, sans-serif;
  --font-size-menu: 3.5vmax;
  --font-weight-menu: 900;
  --ttransfrom-menu: uppercase;
  --thickness-deco: 40px;
  /* font-family: "MyFontRegular", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif; */
  font-weight: 400;
  color: var(--color-text);
  background-color: rgb(6, 0, 16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "PpEditRegular", sans-serif;
  font-weight: 400;
  
}

strong {
  font-family: "MyFontMedium", sans-serif;
  font-weight: 500;
}



.demotransition-5 {
  --color-text: #da154b;
  --color-bg: #000;
  --color-link: #2d2c2b;
  --color-link-hover: #da154b;
  --color-info: #fff;
  --color-main-bg: #000;

}



.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}

/* .container-neon {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
} */


/* .neon {
  
  font-size: 4vw;
  line-height: 4vw;
  color: transparent;
  -webkit-text-stroke: 0.05vw #fa1c16; 
  text-shadow: 0 0 1vw #eb2549;

} */

.text-shadow-red {
  text-shadow: 5px 5px 25px #eb4667 !important;
}
/* #e82b54 */