@import "tailwindcss";


@font-face {
  font-family: "MyFontRegular";
  src: url("/fonts/FKScreamerTrial-Regular-BF6571330a60d38.otf")
    format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "MyFontMedium";
  src: url("/fonts/FKScreamerTrial-Medium-BF6571330a5823d.otf")
    format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "MyFontBold";
  src: url("/fonts/FKScreamerTrial-Bold-BF6571330a76e9b.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: "ElectricKickIt";
  src: url("/fonts/electrIc kIckS Italic.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: italic;
}
@font-face {
  font-family: "ElectricKickNormal";
  src: url("/fonts/electrIc kIckS.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Hijo";
  src: url("/fonts/Hijo Puta Peligroso.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "StarTrekNormal";
  src: url("/fonts/Star Trek_future.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Akoni";
  src: url("/fonts/AKONY.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Antonellie";
  src: url("/fonts/Antonellie Callygraphy Demo.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clyra";
  src: url("/fonts/Clyra.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Argentine";
  src: url("/fonts/fonnts.com-Argentine.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gyst";
  src: url("/fonts/fonnts.com-Gyst_Variable_Light.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mustang";
  src: url("/fonts/Mustang.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Xen";
  src: url("/fonts/Xen Galaxy.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CS";
  src: url("/fonts/csgaylemono-regular-1.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cogin";
  src: url("/fonts/cogin.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PpEditItalic";
  src: url("/fonts/PPEditorialNew-Italic-BF644b214fb0c0a.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PpEditRegular";
  src: url("/fonts/PPEditorialNew-Regular-BF644b214ff145f.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PpEditUltraBold";
  src: url("/fonts/PPEditorialNew-Ultrabold-BF644b21500840c.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PpEditUltraThin";
  src: url("/fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.otf")
    format("opentype");
  font-weight: 400 !important;
  font-style: normal;
}

@font-face {
  font-family: "Stranger";
  src: url("/fonts/Stranger Things Outlined.ttf") format("opentype");
  font-weight: 700 !important;
  font-style: normal;
}

/* *{
  box-sizing: border-box;
} */
@theme {
  --background: rgb(6, 0, 16);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg: rgb(6, 0, 16);
  --color-highlight: #da154b;
  --font-my-font-regular: MyFontRegular, sans-serif;
  --font-my-font-medium: MyFontMedium, sans-serif;
  --font-my-font-bold: MyFontBold, sans-serif;
  --font-electric-it: ElectricKickIt, sans-serif;
  --font-electric-normal: ElectricKickNormal, sans-serif;
  --font-hijo: Hijo, sans-serif;
  --font-star: StarTrekNormal, sans-serif;
  --font-akoni: Akoni, sans-serif;
  --font-antonellie: Antonellie, sans-serif;
  --font-clyra: Clyra, sans-serif;
  --font-argentine: Argentine, sans-serif;
  --font-gyst: Gyst, sans-serif;
  --font-mustang: Mustang, sans-serif;
  --font-xen: Xen, sans-serif;
  --font-cs: CS, mono;
  --font-cogin: Cogin, sans-serif;
  --font-pp-edit-italic: PpEditItalic, sans-serif;
  --font-pp-edit-regular: PpEditRegular, sans-serif;
  --font-pp-edit-ultra-bold: PpEditUltraBold, sans-serif;
  --font-pp-edit-ultra-thin: PpEditUltraThin, sans-serif;
  --font-stranger: Stranger, sans-serif;

  --text-large: 2.25rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Define animations for the view transition */
/* @layer view-transition {

  body::view-transition-old {
    animation: fade-out 0.5s ease-in-out;
  }

  body::view-transition-new {
    animation: fade-in 0.5s ease-in-out;
  }

  @keyframes fade-out {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(1.05);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
} */

/* @keyframes move-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

::view-transition-old(root) {
   animation: 0.8s cubic-bezier(0.87, 0, 0.13, 1) both move-out;
}

::view-transition-new(root) {
   animation: 0.8s cubic-bezier(0.87, 0, 0.13, 1) both move-in;
} */

/* ========== Filter Blur Zoom Animation */

@keyframes blur-out {
    from {
        filter: blur(0px);
        transform: scale(1);
        opacity: 1;
    }

    to {
        filter: blur(50px);
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes blur-in {
    from {
        filter: blur(50px);
        transform: scale(1.2);
        opacity: 0;
    }

    to {
        filter: blur(0px);
        transform: scale(1);
        opacity: 1;
    }
}

::view-transition-old(root) {
    animation: 0.4s cubic-bezier(0.87, 0, 0.13, 1) both blur-out;
}

::view-transition-new(root) {
    animation: 0.4s cubic-bezier(0.87, 0, 0.13, 1) both blur-in;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  --color-text: #fff;
  --color-bg: red;

  --font-family-menu: brother-1816, sans-serif;
  --font-size-menu: 3.5vmax;
  --font-weight-menu: 900;
  --ttransfrom-menu: uppercase;
  --thickness-deco: 40px;
  /* font-family: "MyFontRegular", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif; */
  font-weight: 400;
  color: var(--color-text);
  /* background-color: rgb(6, 0, 16); */
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "PpEditRegular", sans-serif;
  font-weight: 400;
}

strong {
  font-family: "MyFontMedium", sans-serif;
  font-weight: 500;
}

.demotransition-5 {
  --color-text: #da154b;
  --color-bg: #000;
  --color-link: #2d2c2b;
  --color-link-hover: #da154b;
  --color-info: #fff;
  --color-main-bg: #000;
}

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}

/* .container-neon {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
} */

/* .neon {

  font-size: 4vw;
  line-height: 4vw;
  color: transparent;
  -webkit-text-stroke: 0.05vw #fa1c16; 
  text-shadow: 0 0 1vw #eb2549;

} */

.text-shadow-red {
  text-shadow: 5px 15px 15px #eb4667 !important;
}
/* #e82b54 */

/***************************************************
 * Generated by SVG Artista on 7/19/2025, 1:42:01 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

/* styles.css or your component-specific CSS */
.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform: scale(0.5);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.preloader.visible {
  opacity: 1;
}

.preloader.hidden {
  opacity: 0;
  transform: scale(0.1);
  pointer-events: none;
}

/***************************************************
 * Generated by SVG Artista on 7/19/2025, 12:19:21 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

svg.active .svg-elem-1 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-2 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

svg.active .svg-elem-2 {
  fill: rgb(67, 98, 94);
}

svg .svg-elem-3 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.30000000000000004s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
}

svg.active .svg-elem-3 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-4 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
}

svg.active .svg-elem-4 {
  fill: url("#gradient_0");
}

svg .svg-elem-5 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

svg.active .svg-elem-5 {
  fill: rgb(132, 84, 23);
}

svg .svg-elem-6 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

svg.active .svg-elem-6 {
  fill: rgb(243, 188, 33);
}

svg .svg-elem-7 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.7000000000000001s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
}

svg.active .svg-elem-7 {
  fill: rgb(244, 230, 16);
}

svg .svg-elem-8 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-8 {
  fill: rgb(15, 25, 27);
}

svg .svg-elem-9 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-9 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-10 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-10 {
  fill: url("#gradient_1");
}

svg .svg-elem-11 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-11 {
  fill: rgb(15, 25, 27);
}

svg .svg-elem-12 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.2000000000000002s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.active .svg-elem-12 {
  fill: rgb(132, 84, 23);
}

svg .svg-elem-13 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.3000000000000003s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3000000000000003s;
}

svg.active .svg-elem-13 {
  fill: rgb(243, 188, 33);
}

svg .svg-elem-14 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.4000000000000001s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

svg.active .svg-elem-14 {
  fill: rgb(244, 230, 16);
}

svg .svg-elem-15 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.5000000000000002s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5000000000000002s;
}

svg.active .svg-elem-15 {
  fill: rgb(15, 25, 27);
}

svg .svg-elem-16 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg.active .svg-elem-16 {
  fill: rgb(15, 25, 27);
}

svg .svg-elem-17 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.7000000000000002s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
}

svg.active .svg-elem-17 {
  fill: rgb(15, 25, 27);
}

svg .svg-elem-18 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.8000000000000003s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8000000000000003s;
}

svg.active .svg-elem-18 {
  fill: url("#gradient_2");
}

svg .svg-elem-19 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.9000000000000001s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
}

svg.active .svg-elem-19 {
  fill: url("#gradient_3");
}

svg .svg-elem-20 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
}

svg.active .svg-elem-20 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-21 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
}

svg.active .svg-elem-21 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-22 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
}

svg.active .svg-elem-22 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-23 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.3000000000000003s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3000000000000003s;
}

svg.active .svg-elem-23 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-24 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.4000000000000004s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
}

svg.active .svg-elem-24 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-25 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.5000000000000004s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5000000000000004s;
}

svg.active .svg-elem-25 {
  fill: rgb(67, 98, 94);
}

svg .svg-elem-26 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
}

svg.active .svg-elem-26 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-27 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
}

svg.active .svg-elem-27 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-28 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.8000000000000003s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8000000000000003s;
}

svg.active .svg-elem-28 {
  fill: url("#gradient_4");
}

svg .svg-elem-29 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.9000000000000004s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
}

svg.active .svg-elem-29 {
  fill: rgb(234, 231, 239);
}

svg .svg-elem-30 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.0000000000000004s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.0000000000000004s;
}

svg.active .svg-elem-30 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-31 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s;
}

svg.active .svg-elem-31 {
  fill: rgb(41, 72, 66);
}

svg .svg-elem-32 {
  fill: transparent;
  -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
  transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
}

svg.active .svg-elem-32 {
  fill: rgb(15, 25, 27);
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

