@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "MyFontRegular";
  src: url("/fonts/FKScreamerTrial-Regular-BF6571330a60d38.otf")
    format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "MyFontMedium";
  src: url("/fonts/FKScreamerTrial-Medium-BF6571330a5823d.otf")
    format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "MyFontBold";
  src: url("/fonts/FKScreamerTrial-Bold-BF6571330a76e9b.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  --color-text: #fff;
  --color-bg: #191818;
  --color-link: #484848;
  --color-link-hover: #fff;
  --color-menu: #fff;
  --color-menu-hover: #2a2727;
  --color-deco: linear-gradient(
    90deg,
    rgb(225, 16, 250) 0%,
    rgba(128, 29, 253, 1) 50%
  );
  --font-family-menu: brother-1816, sans-serif;
  --font-size-menu: 3.5vmax;
  --font-weight-menu: 900;
  --ttransfrom-menu: uppercase;
  --thickness-deco: 40px;
  font-family: "MyFontRegular", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--color-text);
  background-color: rgb(6, 0, 16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "MyFontBold", sans-serif;
  font-weight: 700;
}

strong {
  font-family: "MyFontMedium", sans-serif;
  font-weight: 500;
}


.demo-5 {
  --color-text: #5f5f5f;
  --color-bg: #0c0c0c;
  --color-link: #f3f3f3;
  --color-link-hover: #da154b;
  --color-menu: #fff;
  --color-menu-hover: #da154b;
  --color-deco: #da154b;
  /* --font-menu: rigatoni, serif; */
  --ttransfrom-menu: uppercase;
  /* --font-size-menu: 3vw; */
  /* --font-weight-menu: 400; */
  --thickness-deco: 1px;
}

.hideSvg {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

/* .menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: start;
  } */



/* DEMO CSS TRANSITIONS STYLES; */

/* Color schemes */

.demotransition-5 {
  --color-text: #da154b;
  --color-bg: #000;
  --color-link: #2d2c2b;
  --color-link-hover: #da154b;
  --color-info: #fff;
  --color-main-bg: #000;
  --path-fill-1: #da154b;
  --path-fill-2: #1b1a19;
  --color-title: inherit;
  /* --font-family-title: 'Playfair Display', serif;
	  --font-size-title: 6vmax; */
  --font-weight-title: 700;
  --color-menu: #ffffff;
  --color-menu-hover: #da154b;
  /* --font-family-menu: var(--font-family-title);
	  --font-size-menu: 3.5vmax;
	  --font-weight-menu: 400; */
  --button-bg: #fff;
  --button-circle: #da154b;
  --button-line: #2d2c2b;
}

/* Fade effect */
.js body {
  opacity: 0;
  transition: opacity 0.3s;
}

.js body.render {
  opacity: 1;
}

/* a {
  text-decoration: none;
  color: #5d93d8;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: #423c2b;
  color: var(--color-link-hover);
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
} */

/* .content {
	  position: relative;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  min-height: 100vh;
	  margin: 0 auto;
	
  } */

.content {
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.content--fixed {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  align-content: space-between;
  width: 100%;
  max-width: none;
  min-height: 0;
  height: 100vh;
  padding: 1.5em;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 4em;
  grid-template-areas:
    "header ..."
    "... ..."
    "github demos";
}

.content--fixed a {
  pointer-events: auto;
}



.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}